
#contact {
    height: 86vh;
    width: 100vw;
    border-top: 8px solid #111;
    border-bottom: 8px solid #111;
    display: inline-flex;
    position: relative;
    margin-bottom: 2em;
    margin-top: 2em;
    padding-top: 2em;
    background-image: radial-gradient(
        rgba(255,255,255,.5),
        rgba(255,255,255,.80),
        rgba(0,0,0,.85)),   
    url('../assets/contact-background.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
      
}

.thank-you {
    width: 30vw;
    height: 30vh;
    text-align: left;
    float: left;
    background-image: linear-gradient(
        rgba(255,255,255,1),
        rgba(255,255,255,.5),
        rgba(255,255,255,0));
    padding: .5em;
    border-radius: 20px;
    margin-top: 5em;
}

form {
    width: 30vw;
    height: 30vh;
    text-align: left;
    float: right;
}

legend img{
    height: 1em;
    width: 1em;   
    margin: .05em;
}

.thank-you h3 {
    text-align: center;
    text-shadow: 1em .25em 1em #555;
}

#contact h2 {
    text-shadow: 1em .25em 1em #555;
}