
#contact {
    height: 50vh;
    width: 50vw;
    border: 2px solid black;
    display: inline-flex;
    position: relative;
    margin-bottom: 100px;
    margin-left: 25vw;
    margin-right: 25vw;
    
}

form {
    width: 30vw;
    height: 30vh;
    text-align: left;
    float: right;
   
}



legend img{
    height: 1em;
    width: 1em;   
    margin: .05em;
}
