footer {
    margin-top: 2em;
    text-align: left;
    line-height: 1em;
    color: whitesmoke;   
    background-color:  #2c2d30;
    height: 9vh;
    width: 100vw;
    display: inline-flex;
    justify-content: center;
    padding: .5em 0em;
    border-top: 8px solid #111;
}

footer li {
    list-style-type: none;
}