.table {
    margin-top: 2.5em;
    padding-left: 2em;
    color: whitesmoke;
}

.table-hover tr:hover {
    background-color: #999;
    color: black;
}

.logo {
    background-position: center;
    background-repeat: no-repeat;
    height: 15em;
    width: 15em;
    border: 1em solid black;
    z-index: 100;
}

.projectsHeader {
    height: 6vh;
    width: 100vw;
    text-align: center;
    text-shadow: .25pt .5pt #999;
}